<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aisyah.learnapp">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:configChanges="uiMode"
        android:icon="@mipmap/ic_finallauncherapps"
        android:label="@string/appname"
        android:roundIcon="@mipmap/ic_finallauncherapps"
        android:supportsRtl="true"
        android:theme="@style/Theme.LearnApp">
        <activity
            android:name=".home.modules.DiniyahListActivity"
            android:exported="true" />
        <activity
            android:name=".home.modules.BkListActivity"
            android:exported="true" />
        <activity
            android:name=".home.modules.UiuxListActivity"
            android:exported="true" />
        <activity
            android:name=".home.modules.MobileListActivity"
            android:exported="true" />
        <activity
            android:name=".account.AboutAppActivity"
            android:exported="true" />
        <activity
            android:name=".account.EditAccountActivity"
            android:exported="true" />
        <activity
            android:name=".student.DetailStudentActivity"
            android:exported="true" />
        <activity
            android:name=".home.task.DetailTaskActivity"
            android:exported="true" />
        <activity
            android:name=".home.modules.WebListActivity"
            android:exported="true" />
        <activity
            android:name=".home.DetailModulesActivity"
            android:exported="true"
            android:theme="@style/Theme.LearnApp" />
        <activity
            android:name=".activity.login.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".onboarding.OnBoardingActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>